.card {
    width: 280px; /* Tamaño predeterminado */
}
  
.card-img-top {
    height: 300px; /* Altura fija para imágenes */
    width: 280px; /* Ancho predeterminado */
    object-fit: cover; /* Asegura que las imágenes se vean bien recortadas */
}
  
  /* Para pantallas medianas */
@media (max-width: 768px) {
    .card {
        width: 220px; /* Reduce el tamaño de las cards */
    }
  
    .card-img-top {
        height: 250px; /* Reduce la altura de las imágenes */
        width: 220px; /* Ajusta al nuevo tamaño de la card */
    }
}
  
  /* Para pantallas pequeñas */
@media (max-width: 576px) {
    .card {
        width: 180px; /* Tamaño más pequeño para móviles */
    }
  
    .card-img-top {
        height: 200px; /* Ajusta la altura proporcionalmente */
        width: 180px;
    }
}
  

.section-container {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    position: relative;
}

.section-title {
    min-width: auto;
    position: absolute;
    background-color: white;
    padding-right: 10px;
}
  
.home-line {
    border: 1px solid #4b2e1a;
    display: inline-block;
    background-color: #4b2e1a;
    width: 100%;
    height: 0;
}

.section-more-info {
    background-color: white;
    padding-left: 10px;
    position: absolute;
    right: 0;
    min-width: auto;
}

.m-info {
    position: absolute;
}
  