.navbar {
    background-color: #4b2e1a !important;
}
  
.navbar-brand {
    color: #ffffff !important;
}
  
.nav-link {
    color: #ffffff !important;
}
  
.nav-link:hover {
    color: #ffffff !important;
}